apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://{{ groups['k8s-master'][0] }}:6443
  name: yc-cluster
contexts:
- context:
    cluster: yc-cluster
    user: {{ service_account_name }}
  name: yc-cluster
current-context: yc-cluster
kind: Config
preferences: {}
users:
- name: {{ service_account_name }}
  user:
    token: {{ kubectl_sa_token.stdout }}
